# Skip dependencies and local modules
node_modules
.next
out
build

# Skip environment variables and configurations
.env
.env.local
.env.development
.env.production
.env.example

# Skip Git and IDE configs
.git
.gitignore
.vscode
.agents
AGENTS.md
CLAUDE.md

# Skip documentation and scripts
README.md
Dockerfile
.dockerignore
tsconfig.tsbuildinfo
